
<section class="section-dashboard">

  <div class="left">
    <div class="factory-container">
      <header class="factory-header">
        <h3>FACTORIES</h3>
      </header>
      <div class="factor-content">
        <button mat-raised-button (click)="createGamingSet()">
          Run gaming factory
        </button>
        <button mat-raised-button (click)="createBusinessSet()">
          Run business factory
        </button>
      </div>
    </div>
  </div>

  <div class="right">
    <app-log-station></app-log-station>
  </div>

</section>





