.orders-container {
  height: 360px;
  overflow: auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  @media screen and (min-width: 1100px) {
    min-width: 500px;
  }
}

.orders-header {
  background-color: rgba(0, 0, 0, .20);
}

.mat-list-item {
  &:hover {
    background-color: rgba(0, 0, 0, .10);
  }
}

.one-order {
  color: rgba(0, 0, 0, .54);
  display: flex !important;
  align-items: center;
}

.order-info {
  margin-right: 24px;
  font-size: 11px;
}

.one-order-inner {
  display: flex;
  flex-direction: column;
}

.order-text {
  font-size: 13px;
}

.order-date {
  margin-top: 6px;
  font-size: 11px;
}

.order-action{
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
